<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SERS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cse.se.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.cse.se.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectServlet</display-name>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>com.cse.se.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/addSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSubjectsServlet</display-name>
    <servlet-name>ShowSubjectsServlet</servlet-name>
    <servlet-class>com.cse.se.ShowSubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSubjectsServlet</servlet-name>
    <url-pattern>/showSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommenderServlet</display-name>
    <servlet-name>RecommenderServlet</servlet-name>
    <servlet-class>com.cse.se.RecommenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommenderServlet</servlet-name>
    <url-pattern>/RecommenderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedBackServlet</display-name>
    <servlet-name>FeedBackServlet</servlet-name>
    <servlet-class>com.cse.se.FeedBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedBackServlet</servlet-name>
    <url-pattern>/FeedBackServlet</url-pattern>
  </servlet-mapping>
</web-app>